header {
    font-size: 30px;
    font-style: italic;
    color: rgb(57, 156, 223);
    display: inline;
}

p {
    font-size: 50px;
    font-style: italic;
    color: rgb(57, 156, 223);
    display: inline;
}